{% extends "base.html" %}
{% set active_page = "index" %}

{% block title %}
Index
{% endblock %}

{% block description %}
I'm building cool stuff using python, javascript and other things. Come read about my experiences !
{% endblock %}

{% block content %}
{% for paper in papers %}
<a href="{{ url_for('papers', paper_name=paper.paper_name) }}">
  <h3>{{ paper.title }}</h3>
</a>
{{ paper.description|safe }}
<p>
<i>{{ paper.fmt_date }}</i>
<a href="{{ url_for('papers', paper_name=paper.paper_name)}}#disqus_thread">
  0 Comments
</a>
<a href="{{ url_for('papers', paper_name=paper.paper_name) }}">
  <i>Read more → </i>
</a>
</p>
{% endfor %}
{% endblock %}
