{% extends "base.html" %}
{% set active_page = "index" %}

{% block title %}
Index
{% endblock %}

{% block description %}
I'm building cool stuff using python, javascript and other things. Come read about my experiences !
{% endblock %}

{% block content %}
{% for paper in papers %}
<a href="{{ url_for('papers', paper_name=paper.paper_name) }}">
  <h1>{{ paper.title }}</h1>
</a>
{{ paper.content|safe }}
<p>
  <a href="{{ url_for('papers', paper_name=paper.paper_name)}}#disqus_thread">
    0 Comments</a>
  ▻ {{ paper.fmt_date }}
</p>
{% endfor %}
{% endblock %}
